@import "../../../ControlLayout";

.ChannelStrip {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  height: 100%;
  text-align: center;

  .Header {
    grid-area: #{$firstGridArea};
  }

  .Controls {
    grid-area: #{$secondGridArea};
  }

  .Fader {
    grid-area: #{$thirdGridArea};
  }

  .Label {
    grid-area: #{$fourthGridArea};
  }
}
