.Button {
  cursor: pointer;

  margin: 2px auto;
  padding: 8px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  line-height: 14px;
  border-radius: 5px;
}
