@import "../ControlLayout";

.ChannelStrip {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  text-align: center;

  .Controls {
    grid-area: $controlGridArea;
  }

  .Label {
    grid-area: $labelGridArea;
  }

  .Fader {
    grid-area: $faderGridArea;
  }
}
