@import "../ControlLayout";

.MixStrip {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  height: 100%;

  .PageSelect {
    grid-area: #{$firstGridArea};
  }

  .Bank_Main {
    grid-area: #{$secondGridArea};
  }

  .AuxSubMatrix {
    grid-area: #{$thirdGridArea};
  }

  .Label {
    grid-area: #{$fourthGridArea};
  }
}
