.Mixer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .Buttons {
    grid-area: 1 / 1 / 4 / 2;
  }

  .Channel-Strip {
    grid-area: 1 / 2 / 4 / 9;
  }

  .Master {
    grid-area: 1 / 9 / 4 / 10;
  }
}
