.Mixer {
  height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
}

.Buttons {
  grid-area: 1 / 1 / 4 / 2;
}

.LCDs {
  grid-area: 1 / 2 / 2 / 5;
}

.Channel-Strip {
  grid-area: 2 / 2 / 4 / 4;
}

.Master {
  grid-area: 2 / 4 / 4 / 5;
}
